<div class="modal fade" [class.show]="open" [style.display]="open ? 'block' : 'none'" tabindex="-1" role="dialog"
  *ngIf="open" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="changePassword()" autocomplete="on">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'CHANGE_PASSWORD' | translate }}</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="close.emit()"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="email" [value]="email" autocomplete="email">

          <div class="mb-3">
            <label class="form-label" for="newPassword">{{ 'NEW_PASSWORD' | translate }}</label>
            <input id="newPassword" type="password" autocomplete="new-password" name="newPassword"
              [(ngModel)]="newPassword" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label" for="newPasswordRepeat">{{ 'NEW_PASSWORD_REPEAT' | translate }}</label>
            <input id="newPasswordRepeat" type="password" autocomplete="new-password" name="newPasswordRepeat"
              [(ngModel)]="newPasswordRepeat" class="form-control" required />
          </div>
          <div *ngIf="passwordError" class="alert alert-danger py-2 text-center mt-2">
            {{ passwordError | translate }}
          </div>
          <div *ngIf="passwordSuccess" class="alert alert-success py-2 text-center mt-2">
            {{ passwordSuccess | translate }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">
            {{ 'CANCEL' | translate }}
          </button>
          <button type="submit" class="btn btn-primary">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>